@media screen and (max-width: 1800px) {
  .foto-section__div-2 {
    display: none; }
  .foto-section__number-sign {
    display: none; } }

@media screen and (max-width: 1500px) {
  .adaptiv-sign__number-sign {
    display: none; } }

@media screen and (max-width: 1370px) {
  .wrap {
    max-width: 945px; }
  .flex {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .header-menu {
    display: none; }
  .menu-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    width: 50px; }
  #menu__toggle {
    opacity: 0;
    display: none; }
  #menu__toggle:checked ~ .header-menu__button > span {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  #menu__toggle:checked ~ .header-menu__button > span::before {
    top: 0;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0); }
  #menu__toggle:checked ~ .header-menu__button > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .header-menu__button {
    height: 50px;
    width: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 1; }
  .header-menu__button > span,
  .header-menu__button > span::before,
  .header-menu__button > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 6px;
    background: -o-linear-gradient(60deg, #ff8f5a 10%, #ff2f96 90%);
    background: linear-gradient(30deg, #ff8f5a 10%, #ff2f96 90%);
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s; }
  .header-menu__button:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
  .header-menu__button > span::before {
    content: '';
    top: -13px; }
  .header-menu__button > span::after {
    content: '';
    top: 13px; }
  .header-mobile__link:hover {
    color: #fc557c; }
  .header-mobile-menu {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 0;
    -webkit-flex-basis: 1000px;
        -ms-flex-preferred-size: 1000px;
            flex-basis: 1000px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .mobile-nav-list li {
    margin-top: 11px; }
  .mobile-nav-list__link {
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #1f1f24; }
  .mobile-nav-list__link:hover {
    color: #fc557c; }
  .title-container {
    max-width: 945px; }
  .foto-section__ellipse {
    right: -132px;
    width: 678px;
    height: 524px; }
  .foto-block {
    right: 0; }
  .foto-block__shadow {
    -webkit-filter: none;
    filter: none; }
  .foto-text {
    padding-top: 200px;
    margin: 0; }
  .title {
    font-size: 54px;
    max-width: 430px; }
  .subtitle {
    padding-top: 13px;
    margin-bottom: 41px; }
  .foto-section__number-sign {
    display: block;
    bottom: 200px;
    left: 175px;
    -webkit-transform: translate(-117px, 130px) rotate(375deg);
        -ms-transform: translate(-117px, 130px) rotate(375deg);
            transform: translate(-117px, 130px) rotate(375deg); }
  .foto-section__braces {
    bottom: 460px;
    left: 118px;
    -webkit-transform: translate(-38px, -95px) rotate(390deg);
        -ms-transform: translate(-38px, -95px) rotate(390deg);
            transform: translate(-38px, -95px) rotate(390deg); }
  .foto-section__div {
    display: none; }
  .foto-section__slash {
    bottom: 198px;
    left: 298px;
    -webkit-transform: translate(60px, 60px) rotate(339deg);
        -ms-transform: translate(60px, 60px) rotate(339deg);
            transform: translate(60px, 60px) rotate(339deg); }
  .foto-section__slash-2 {
    display: block;
    font-family: "Roboto";
    font-weight: bold;
    font-style: normal;
    font-size: 43px;
    color: transparent;
    background-image: -webkit-linear-gradient(77deg, #ff8f5a 10%, #ff2f96 50%);
    -webkit-background-clip: text;
    text-transform: lowercase;
    position: absolute;
    bottom: 440px;
    left: 382px;
    -webkit-transform: translate(45px, -45px) rotate(375deg);
        -ms-transform: translate(45px, -45px) rotate(375deg);
            transform: translate(45px, -45px) rotate(375deg);
    -webkit-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out; }
  .red-button {
    font-weight: 500;
    width: 320px;
    height: 70px; }
  .skils-section {
    min-height: 885px; }
  .block-skils {
    margin: 0 auto;
    max-width: 660px; }
  .box-skils {
    padding-top: 80px; }
  .skils-section__cost {
    width: 320px;
    padding-top: 91px; }
  .project-section {
    min-height: 1045px; }
  .heading {
    padding-top: 82px; }
  .project-section__button {
    width: 320px;
    padding-top: 65px; }
  .adaptiv-title {
    padding-top: 76px; }
  .adaptiv-sign__braces {
    font-size: 32px;
    top: 13px;
    left: 142px;
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg); }
  .adaptiv-sign__braces2 {
    display: none; }
  .adaptiv-sign__div {
    font-size: 25px;
    bottom: 30px;
    right: 455px; }
  .adaptiv-sign__slash {
    bottom: 30px;
    right: 95px;
    -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
            transform: rotate(-20deg); }
  .footer-top {
    height: 287px; }
  .footer-desktop {
    padding-top: 100px;
    margin-bottom: 0;
    margin: 0; }
  .footer-item {
    margin-bottom: 8px; } }

@media screen and (max-width: 1370px) and (max-width: 1110px) {
  .foto-section__div {
    display: block;
    bottom: 470px;
    left: 465px;
    -webkit-transform: translate(420px, -113px) rotate(345deg);
        -ms-transform: translate(420px, -113px) rotate(345deg);
            transform: translate(420px, -113px) rotate(345deg); } }

@media screen and (max-width: 1000px) {
  .wrap {
    max-width: 640px; }
  .header-menu {
    display: none; }
  .mobile-nav-list__link {
    font-size: 15px; }
  .foto-section {
    min-height: 370px; }
  .foto-section__ellipse {
    min-width: 320px;
    height: 300px;
    right: -170px; }
  .title-container {
    max-width: 640px; }
  .foto-block {
    width: 270px;
    margin: 0 auto;
    right: -10px;
    top: 6px; }
  .foto-text {
    padding: 0; }
  .foto-hgroup {
    padding-top: 90px; }
  .title {
    font-size: 30px;
    width: 270px;
    padding-top: 7px; }
  .subtitle {
    width: 360px;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 0; }
  .foto-section__number-sign {
    font-size: 29px;
    bottom: 240px;
    left: 80px;
    -webkit-transform: translate(-45px, 15px) rotate(375deg);
        -ms-transform: translate(-45px, 15px) rotate(375deg);
            transform: translate(-45px, 15px) rotate(375deg); }
  .foto-section__braces {
    font-size: 25px;
    bottom: 284px;
    left: 98px;
    -webkit-transform: translate(-50px, -50px) rotate(390deg);
        -ms-transform: translate(-50px, -50px) rotate(390deg);
            transform: translate(-50px, -50px) rotate(390deg); }
  .foto-section__div {
    font-size: 15px;
    bottom: 207px;
    left: 240px;
    -webkit-transform: translate(6px, -96px) rotate(380deg);
        -ms-transform: translate(6px, -96px) rotate(380deg);
            transform: translate(6px, -96px) rotate(380deg); }
  .foto-section__div-2 {
    display: none; }
  .foto-section__slash {
    font-size: 19px;
    bottom: 310px;
    left: 220px;
    -webkit-transform: translate(-50px, -50px) rotate(335deg);
        -ms-transform: translate(-50px, -50px) rotate(335deg);
            transform: translate(-50px, -50px) rotate(335deg); }
  .foto-section__slash-2 {
    display: none; }
  .red-button {
    font-weight: normal;
    font-size: 16px;
    width: 280px;
    height: 55px; }
  .skils-section {
    max-height: 570px;
    min-height: auto; }
  .heading {
    padding-top: 40px;
    padding-bottom: 42px;
    width: 320px;
    margin: 0 auto; }
  .heading__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 30px; }
  .block-skils {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .box-skils {
    padding-top: 0;
    padding-bottom: 54px; }
  .box-skils__img {
    width: 62px;
    height: 56px; }
  .box-skils__title {
    width: 230px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 12px; }
  .skils-section__cost {
    padding: 0;
    margin-bottom: 50px; }
  .project-section {
    min-height: auto; }
  .project-section__button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 14px;
    padding-bottom: 50px; }
  .adaptiv-section {
    max-height: 255px; }
  .adaptiv-text {
    margin: 0 auto;
    padding-top: 40px; }
  .adaptiv-text__text {
    font-size: 28px;
    line-height: 40px;
    margin-left: 20px;
    margin-right: 20px; }
  .adaptiv-footnote {
    margin-top: 33px;
    font-size: 15px;
    line-height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 40px; }
  .adaptiv-sign__div {
    display: none; }
  .adaptiv-sign__slash {
    font-size: 19px; }
  .adaptiv-sign__braces {
    font-size: 25px;
    top: 50px;
    bottom: auto;
    left: 46px;
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg); }
  .footer-top {
    height: auto; }
  .footer-desktop {
    padding-top: 45px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .footer-menu {
    margin-right: 30px;
    margin-left: 20px; }
  .footer-item {
    margin-bottom: 11px; }
  .footer-item__link {
    font-size: 15px; }
  .footer-contact {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #8993ad;
    padding-left: 20px; }
  .footer-telefon-button {
    margin-left: 20px;
    margin-top: 25px;
    width: 280px;
    height: 55px;
    background-color: #fbfbfb;
    cursor: pointer; }
  .socials {
    margin-left: 20px;
    margin-top: 45px;
    margin-bottom: 45px; }
  .footer__fotter-bottom {
    padding: 17px 0 16px 0;
    color: #ffffff;
    text-align: center; }
  .footer-bottom__text {
    font-size: 12px; } }

@media screen and (max-width: 775px) {
  .foto-section__number-sign {
    display: none; }
  .adaptiv-sign__braces {
    display: none; } }

@media screen and (max-width: 680px) {
  .header {
    padding-bottom: 26px; }
  .wrap {
    max-width: 320px; }
  .header-phone {
    display: none; }
  .header-mobile {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .menu-button {
    display: none; }
  .menu-button-mobile {
    height: 32px; }
  #menu__toggle2 {
    opacity: 0;
    display: none; }
  #menu__toggle2:checked ~ .header-menu__button-mobile > span {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  #menu__toggle2:checked ~ .header-menu__button-mobile > span::before {
    top: 0;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0); }
  #menu__toggle2:checked ~ .header-menu__button-mobile > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .header-menu__button-mobile {
    height: 32px;
    width: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 1;
    margin-left: 20px; }
  .header-menu__button-mobile > span,
  .header-menu__button-mobile > span::before,
  .header-menu__button-mobile > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: -o-linear-gradient(60deg, #ff8f5a 10%, #ff2f96 90%);
    background: linear-gradient(30deg, #ff8f5a 10%, #ff2f96 90%);
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s; }
  .header-menu__button-mobile:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
  .header-menu__button-mobile > span::before {
    content: '';
    top: -7px; }
  .header-menu__button-mobile > span::after {
    content: '';
    top: 7px; }
  .header-mobile-menu {
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-flex-basis: 1000px;
        -ms-flex-preferred-size: 1000px;
            flex-basis: 1000px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .mobile-nav-list__link {
    font-size: 15px; }
  .header-mobile__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto";
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    color: #1f1f24;
    font-style: normal; }
  .header-mobile__bell-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 26px;
    height: 26px;
    margin-right: 20px;
    border-radius: 50%;
    position: relative;
    color: #f82370;
    border-width: 1px;
    border-color: #f82370;
    border-style: solid;
    background-color: #fbfbfb;
    cursor: pointer; }
  .header-mobile__bell-button i {
    height: 12px; }
  .header-mobile__bell-button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
  .title-container {
    padding: 0 20px;
    max-width: 320px; }
  .foto-section__ellipse {
    bottom: auto;
    top: 90px;
    max-width: 380px;
    height: 294px;
    right: -20px; }
  .foto-wrap {
    display: block; }
  .foto-block {
    width: 230px;
    margin: 0 auto;
    right: -29px;
    padding-top: 50px; }
  .foto-text {
    display: none; }
  .foto-hgroup {
    width: 280px;
    margin: 0 auto;
    margin-top: 5px;
    padding-top: 0; }
  .foto-section__number-sign {
    display: block; }
  .foto-section__div {
    display: none; }
  .foto-mobile-section {
    display: block;
    background-color: #ffffff;
    text-align: center; }
  .foto-mobile-section__hgroup {
    width: 280px;
    margin: 0 auto;
    margin-top: 5px;
    padding-top: 0; }
  .foto-mobile-section__title {
    font-family: "Roboto";
    font-weight: 900;
    font-style: normal;
    color: black;
    margin: 0;
    font-size: 30px;
    min-width: 280px;
    padding-top: 5px; }
  .foto-mobile-section__subtitle {
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #8993ad;
    padding-top: 5px;
    margin-bottom: 0px;
    width: 280px;
    line-height: 24px;
    margin-bottom: 22px; }
  .skils-section {
    min-height: 910px; }
  .heading {
    padding-top: 45px;
    padding-bottom: 47px;
    width: 270px; }
  .project-section {
    min-height: 655px;
    color: #fbfbfb; }
  .project-section__button {
    padding-top: 14px; }
  .adaptiv-section {
    min-height: 435px; }
  .slider {
    margin-top: 0;
    width: 280px;
    margin: 0 auto 100px; }
  .switch {
    bottom: -102px;
    margin-left: 5px; }
  .switch label {
    margin-right: 13px; }
  .slider-inner {
    margin-left: 0; }
  .slides {
    width: 100%;
    margin: 0; }
  .slide-mob {
    width: 100%;
    padding: 0; }
  .adaptiv-sign__braces {
    display: block; }
  .footer-top {
    height: auto; }
  .footer-menu {
    padding-top: 0; }
  .footer-contact {
    padding-top: 26px; }
  .footer-phone {
    margin-bottom: 17px; }
  .footer-phone i {
    margin-left: 0; }
  .footer-mail i {
    margin-left: 0; }
  .socials {
    margin-bottom: 40px; } }

@media screen and (max-width: 460px) {
  .adaptiv-sign__braces {
    display: none; }
  .adaptiv-sign__slash {
    display: none; } }

@media screen and (max-width: 370px) {
  .foto-section__div {
    display: block; } }
